@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #555;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-m-plus-rounded: var(--font-m-plus-rounded);
  --font-mono: var(--font-geist-mono);
}

@theme {
  --color-main: #79a1d4;
  --color-text: var(--foreground);
}

/* カスタムフォントクラス */
.font-default {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    sans-serif;
}

.font-m-plus-rounded {
  font-family: var(--font-m-plus-rounded), sans-serif;
}

.font-kaisei-decol {
  font-family: var(--font-kaisei-decol), serif;
}

.font-yuji-syuku {
  font-family: var(--font-yuji-syuku), serif;
}

.font-yusei-magic {
  font-family: var(--font-yusei-magic), sans-serif;
}

.font-zen-antique {
  font-family: var(--font-zen-antique), serif;
}

.font-dela-gothic-one {
  font-family: var(--font-dela-gothic-one), sans-serif;
}

.font-mochiy-pop-one {
  font-family: var(--font-mochiy-pop-one), sans-serif;
}

.font-rampart-one {
  font-family: var(--font-rampart-one), sans-serif;
}

.font-rocknroll-one {
  font-family: var(--font-rocknroll-one), sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    sans-serif;
  font-weight: bold;
  line-height: 1;
}
